<div class='well'>
<%= form_for @user do |f|%>
	<%=f.label :username %>
	<%=f.text_field :username, autofocus: true %>
	<%=f.label :password %>
	<%=f.password_field :password %>
	<%=f.label :time_zone %>
	<%=f.time_zone_select :time_zone %>
	
	<br>
	
	<%= f.submit (logged_in? ? 'Submit' : 'Sign Up'),  class: 'btn btn-primary' %>
<% end %>
</div>