<%= render 'shared/content_title', title: "User Profile for: #{@user.username.capitalize}" %>

<div class='row'>
<div class='span9 well'>
	<ul>
		<li>Username: <%=@user.username%></li>
		<li>Member since: <%=nice_time(@user.created_at)%></li>
		<% if logged_in? && current_user == @user %>
			<%= link_to '[Edit User]', edit_user_path(@user) %>
			<% end %>
	</ul>
</div>
</div>
<br>
<p>Comments by: <%=@user.username%></p>

<% @user.comments.each do |comment| %>
<div class="row">
  <div class='span8 well'>
    <em>"<%= comment.body  %>" -</em> <%=link_to comment.post.title, post_path(comment.post)%></p>
    <p class="quiet">By <%= link_to comment.creator.username, user_path(comment.creator) %> at <%= nice_time(comment.created_at) %></p>
  </div>
</div>
<% end %>

<p>Posts by: <%=@user.username%></p>

<% @user.posts.each do |post| %>
  <%= render 'posts/posts', post: post %>
<% end %>

