<div class="row">

  <div class="span0 well text-center">
    <% if logged_in? %>
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
    <i class="icon-arrow-up"></i>
    <% end %>
    <% end %>

    <p><%= post.total_votes %> votes</p>

    <% if logged_in? %>
    <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
    <i class="icon-arrow-down"></i>
    <% end %>
    <% end %>
    <% if !logged_in? %>
    <p><%= link_to "Login to vote", new_user_path %></p>
    <% end %>

  </div>


    <div class='span8 well'>
    <p>
   	  <% post.categories.each do |category| %>
        <span class='badge'><%= link_to category.name, category_path(category) %></span>
      <%end%>
    </p>
    <h4><%=link_to post.title.capitalize, post_path(post)%></h4>
    <p><%=post.description%></p>
    <p><span class='quiet'>posted by: </span><%= link_to "#{post.creator.username}", user_path(post.creator)%></p>
    <p><small><%= link_to "#{post.comments.size} comments", post_path(post)%></small></p>
  </div>
</div>