<p class='pull-right'>
	[<%= link_to 'edit this post', edit_post_path(@post)%>]
</p>


<p>
<% @post.categories.each do |category| %>
      <span class='badge'><%= category.name %></span>
<%end%><%= link_to "+", edit_post_path(@post) %>
</p>
<p class="lead"><%= link_to @post.title.capitalize, fix_url(@post.url) %></p>
<hr>
<p><%=@post.description%></p>
<hr>

<div class='well'>
	<%= form_for [@post, @comment] do |f| %>
	  <%= render 'shared/errors', obj: @comment %>
	  <%=f.label :body, 'Leave a comment:'%>
	  <%=f.text_area :body %>
	  <br>
	  <%= f.submit 'Create comment',  class: 'btn btn-primary' %>
    <% end %>
</div>


<h5>Comments:</h5>

<% @post.comments.each do |comment| %>
<div class="row">
	<div class="span0 well text-center">
    <% if logged_in? %>
    <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
    <i class="icon-arrow-up"></i>
    <% end %>
    <% end %>
<br>
    <span id="comment_<%=comment.id%>_votes"><%= comment.total_votes %> votes</span>
<br>
    <% if logged_in? %>
    <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
    <i class="icon-arrow-down"></i>
    <% end %>
    <% end %>
    <% if !logged_in? %>
    <%= link_to "Login to vote", new_user_path %>
    <% end %>

  </div>
  <div class='span8 well'>
    <em>"<%= comment.body %>"</em>
    <p>
      <span class="quiet">by <%= link_to comment.creator.username, user_path(comment.creator) %> at <%= nice_time(comment.created_at) %></span>
    </p>
  </div>
<% end %>







